*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header { 
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-left: 60px;
    font-size: 17px;;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: aqua;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0,5 ease;
}

ul li a:hover{
    background-color: white;
    color: black;

}

ul li.active a {
    background-color: white;
    color: black;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
 
}

body {
    min-height: 100vh;
    background: rgb(25, 29, 56);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: rgb(52, 172, 208);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(32, 103, 125),
    0 0 50px rgb(52, 172, 208),
    0 0 100px rgb(52, 172, 208);
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate
{
    0%
 {
    transform: translateY(100vh) scale(0);
 }
 100%
 {
    transform:  translateY(-10vh) scale(1);
 }
}



.img {
    height: 250px;
    width: 250px;
}

